html {
    
}

body {
    background-color: #131116;
    color: #eceee9;
    font-family: 'Roboto', sans-serif;
}

header {
    margin-top: 40px;
}

#main {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -250px;
    background: none;
    width: 510px;
    height: 240px;
    align-content: center;
    color: #eceee9;
    text-align: center;
}

#main_div {
    overflow-wrap: break-word;
    text-align: center;
    
}

footer {
    position: absolute;
    bottom: 0;
    width: 98.5%;
    height: 79px;
    text-align: center;
    font-size: 80%;
    background-color: none;
}

a:link {
    color: #eceee9;
    text-decoration: none;
    font-size: 120%;
}

a:visited {
    color: #eceee9;
    text-decoration: none;
    font-size: 120%;
}

a:hover {
    color: #79777d;
    text-decoration: none;
    font-size: 120%;
}

a:active {
    color: #eceee9;
    text-decoration: none;
    font-size: 120%;
}

#list {
    word-spacing: 20px;
    padding: 0px;
    margin: 0px;
    margin-left: -150px;
}

#link_selected {
    color: #79777d; 
}

#link_steam {
    position: absolute;
    margin-top: 1px;
    margin-left: 71px;
}

#link_discord {
    position: absolute;
    margin-top: -6px; 
    margin-left: 20px;
    margin-right: 20px;
}

#link_twitter_01 {
    font-size: 100%;
    color: #D5B552;
}

#mail{
    font-size: 100%;
}

#link_twitter_02 {
    font-size: 100%;
    color: #00aced;
}

#t {
    width: 0px;
    height: 0px;
    border: none;
}

#t:focus {
    outline: none;
}

@media screen and (max-width: 720px){
    #main {
        position: absolute;
        z-index: 15;
        top: 50%;
        left: 50%;
        margin: -125px 0 0 -150px;
        background: none;
        width: 300px;
        height: 240px;
        align-content: center;
        color: #eceee9;
        text-align: center;
    }
    
    video {
        width: 300px;
    }
}

@-ms-viewport {
    width: device-width;
}