html {
    
}

body {
    background-color: #131116;
    color: #eceee9;
    font-family: 'Roboto', sans-serif;
}

#main {
    text-align: center;
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -75px;
    background: none;
}

footer {
    position: absolute;
    bottom:0;
    width: 99%;
    height:59px;
    text-align: center;
    font-size: 90%;
}